<div class="d-flex justify-content-between">
    <app-card title="cat"
        disc="Cats, with their enigmatic charm, have captivated the hearts of many. Known for their independence, grace, and playful antics, they are wonderful companions"
        image="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4Inf60l0egQ8i49C_lylZJl90NVuPLWmG7Q&s"></app-card>
    <app-card title="Dog"
        disc="Dogs are truly incredible creatures, known for their loyalty, intelligence, and boundless energy"
        image="https://cdn.shopify.com/s/files/1/0086/0795/7054/files/Golden-Retriever.jpg?v=1645179525"></app-card>
    <app-card title="Bear"
        disc="Dogs are truly incredible creatures, known for their loyalty, intelligence, and boundless energy"
        image="https://cdn.britannica.com/41/156441-050-A4424AEC/Grizzly-bear-Jasper-National-Park-Canada-Alberta.jpg"></app-card>
</div>

<div class="d-flex justify-content-between mt-5">
    <app-card title="Dove" disc="Doves are beautiful and gentle birds that symbolize peace and love in many cultures"
        image="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRznO0wAKRBkr4djGtjLFfxmo7-Jd2ZkCzRFw&s"></app-card>
    <app-card title="Myna"
        disc="Mynas are fascinating and highly intelligent birds known for their vocal abilities and adaptability."
        image="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRK_6EAs_84kmmWcLe2jWmdRGmJVIKEXSQUhA&s"></app-card>
    <app-card title="King fisher"
        disc="Kingfishers are vibrant and fascinating birds known for their striking colors and remarkable hunting skills."
        image="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRiLYQVg5TQWfmQ03Z5TlE-FZbr8LMxD988Kg&s"></app-card>
</div>

<div class="d-flex justify-content-between mt-5">
    <app-card title="Snake"
        disc="Snakes are elongated, legless reptiles with scales covering their bodies. They have a highly flexible jaw structure that allows them to swallow prey larger than their heads"
        image="https://upload.wikimedia.org/wikipedia/commons/thumb/6/60/Trimeresurus_sabahi_fucatus%2C_Banded_pit_viper_-_Takua_Pa_District%2C_Phang-nga_Province_%2846710893582%29.jpg/800px-Trimeresurus_sabahi_fucatus%2C_Banded_pit_viper_-_Takua_Pa_District%2C_Phang-nga_Province_%2846710893582%29.jpg"></app-card>
    <app-card title="Crocodile"
        disc="Crocodiles are large, predatory reptiles known for their powerful jaws, sharp teeth, and muscular bodies. They belong to the family Crocodylidae and are found in tropical regions of Africa, Asia, the Americas, and Australia"
        image="https://i.natgeofe.com/n/5c245858-0769-4f58-b2de-fbbd5773839f/mxj-JRKy0nEC6IG-Rwj8GBPUnm_5mac6eY37HE-a2sIeGMs2bm_ku7FfefgpROWMnnCgHdcKFw5E2mIpEZnFwstmOaXZDMdWB6zgcgd9wEj9zRx_jkuOoFNRp1B1QpLS8MtE8Xe7KfS3mdMWrUjmrCezj6BXBB9dopkqmJarYQ0o-e1447687850938_16x9.jpg"></app-card>
    <app-card title="Fish"
        disc="Fish typically have a streamlined body shape that allows them to move efficiently through water. They have a head, trunk, and tail, with various fins for propulsion, steering, and stability"
        image="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ640hAVWwnZHzNqQ4GuKo-jPhv-9gXKxeBzg&s"></app-card>
</div>